# Import data from csv files

In [1]:
import pandas as pd
df = pd.read_csv('DBC/Field Bus1.BrowerRadiant2East.ZN2-T.csv')

In [67]:
# transfer the unit from F to C
df['Celcius'] = (df['/FS4/NAE00806603BECA/3001087/NAE00806603BECA/Field Bus1.BrowerRadiant2East.ZN2-T']-32)*5/9

In [92]:
df

,datetime,/FS4/NAE00806603BECA/3001087/NAE00806603BECA/Field Bus1.BrowerRadiant2East.ZN2-T,Celcius
0,2020-12-01 10:05:00,70.299370,21.277428
1,2020-12-01 10:10:00,70.299370,21.277428
2,2020-12-01 10:15:00,70.299370,21.277428
3,2020-12-01 10:20:00,70.299370,21.277428
4,2020-12-01 10:25:00,70.502136,21.390076
...,...,...,...
34556,2021-03-31 10:45:00,67.608704,19.782613
34557,2021-03-31 10:50:00,67.608704,19.782613
34558,2021-03-31 10:55:00,67.820107,19.900059
34559,2021-03-31 11:00:00,67.820107,19.900059
34560,2021-03-31 11:05:00,67.820107,19.900059

In [130]:
df.columns[0]

'datetime'

In [129]:
df['weekdays'] = pd.to_datetime(df['datetime']).dt.dayofweek
df[(df['weekdays'] == 6)]

Empty DataFrame
Columns: [datetime, /FS4/NAE00806603BECA/3001087/NAE00806603BECA/Field Bus1.BrowerRadiant2East.ZN2-T, Celcius, weekdays]
Index: []

In [68]:
ts_diff = pd.to_datetime(df['datetime'][1]) - pd.to_datetime(df['datetime'][0])
ts_sec= ts_diff.seconds

In [69]:
# calculate the interval between two time

In [112]:
df[(df['Celcius'] < 15)]

,datetime,/FS4/NAE00806603BECA/3001087/NAE00806603BECA/Field Bus1.BrowerRadiant2East.ZN2-T,Celcius
8864,2021-01-01 04:45:00,58.866699,14.925944
8865,2021-01-01 04:50:00,58.866699,14.925944
8866,2021-01-01 04:55:00,58.866699,14.925944
8867,2021-01-01 05:00:00,58.866699,14.925944
8868,2021-01-01 05:05:00,58.866699,14.925944
8869,2021-01-01 05:10:00,58.866699,14.925944
8870,2021-01-01 05:15:00,58.866699,14.925944
8871,2021-01-01 05:20:00,58.866699,14.925944
8872,2021-01-01 05:25:00,58.866699,14.925944
8873,2021-01-01 05:30:00,58.866699,14.925944
8874,2021-01-01 05:35:00,58.866699,14.925944
8875,2021-01-01 05:40:00,58.866699,14.925944
8876,2021-01-01 05:45:00,58.866699,14.925944
8877,2021-01-01 05:50:00,58.866699,14.925944
8878,2021-01-01 05:55:00,58.866699,14.925944
8879,2021-01-01 06:00:00,58.866699,14.925944
8880,2021-01-01 06:05:00,58.866699,14.925944
8881,2021-01-01 06:10:00,58.866699,14.925944
8882,2021-01-01 06:15:00,58.866699,14.925944
8883,2021-01-01 06:20:00,58.866699,14.925944
8884,2021-01-01 06:25:00,58.866699,14.925944
8885,2021-01-01 06:30:00,58.866699,14.925944
8886,2021-01-01 06:35:00,58.866699,14.925944
8887,2021-01-01 06:40:00,58.866699,14.925944
8888,2021-01-01 06:45:00,58.866699,14.925944
8889,2021-01-01 06:50:00,58.866699,14.925944
8890,2021-01-01 06:55:00,58.866699,14.925944
8891,2021-01-01 07:00:00,58.866699,14.925944
8892,2021-01-01 07:05:00,58.866699,14.925944
8893,2021-01-01 07:10:00,58.866699,14.925944
8894,2021-01-01 07:15:00,58.866699,14.925944
8895,2021-01-01 07:20:00,58.866699,14.925944
8896,2021-01-01 07:25:00,58.866699,14.925944
8897,2021-01-01 07:30:00,58.866699,14.925944
8898,2021-01-01 07:35:00,58.665157,14.813976
8899,2021-01-01 07:40:00,58.665157,14.813976
8900,2021-01-01 07:45:00,58.665157,14.813976
8901,2021-01-01 07:50:00,58.665157,14.813976
8902,2021-01-01 07:55:00,58.665157,14.813976
8903,2021-01-01 08:00:00,58.665157,14.813976
8904,2021-01-01 08:05:00,58.665157,14.813976
8905,2021-01-01 08:10:00,58.665157,14.813976
8906,2021-01-01 08:15:00,58.665157,14.813976
8907,2021-01-01 08:20:00,58.665157,14.813976
8908,2021-01-01 08:25:00,58.665157,14.813976
8909,2021-01-01 08:30:00,58.665157,14.813976
8910,2021-01-01 08:35:00,58.665157,14.813976
8911,2021-01-01 08:40:00,58.665157,14.813976
8912,2021-01-01 08:45:00,58.665157,14.813976
8913,2021-01-01 08:50:00,58.665157,14.813976
8914,2021-01-01 08:55:00,58.665157,14.813976
8915,2021-01-01 09:00:00,58.665157,14.813976
8916,2021-01-01 09:05:00,58.665157,14.813976
8917,2021-01-01 09:10:00,58.865112,14.925062
8918,2021-01-01 09:15:00,58.865112,14.925062
8919,2021-01-01 09:20:00,58.865112,14.925062
8920,2021-01-01 09:25:00,58.865112,14.925062
8921,2021-01-01 09:30:00,58.865112,14.925062

In [108]:
df[(df['Celcius'] >23)]

,datetime,/FS4/NAE00806603BECA/3001087/NAE00806603BECA/Field Bus1.BrowerRadiant2East.ZN2-T,Celcius
615,2020-12-03 13:20:00,73.410248,23.005693
616,2020-12-03 13:25:00,73.410248,23.005693
617,2020-12-03 13:30:00,73.410248,23.005693
618,2020-12-03 13:35:00,73.410248,23.005693
619,2020-12-03 13:40:00,73.410248,23.005693
...,...,...,...
25171,2021-02-26 19:40:00,73.434921,23.019401
25172,2021-02-26 19:45:00,73.434921,23.019401
25173,2021-02-26 19:50:00,73.434921,23.019401
25174,2021-02-26 19:55:00,73.434921,23.019401
25175,2021-02-26 20:00:00,73.434921,23.019401

In [110]:
df[(df['Celcius'] < 22) | (df['Celcius'] > 27)]

,datetime,/FS4/NAE00806603BECA/3001087/NAE00806603BECA/Field Bus1.BrowerRadiant2East.ZN2-T,Celcius
0,2020-12-01 10:05:00,70.299370,21.277428
1,2020-12-01 10:10:00,70.299370,21.277428
2,2020-12-01 10:15:00,70.299370,21.277428
3,2020-12-01 10:20:00,70.299370,21.277428
4,2020-12-01 10:25:00,70.502136,21.390076
...,...,...,...
34556,2021-03-31 10:45:00,67.608704,19.782613
34557,2021-03-31 10:50:00,67.608704,19.782613
34558,2021-03-31 10:55:00,67.820107,19.900059
34559,2021-03-31 11:00:00,67.820107,19.900059
34560,2021-03-31 11:05:00,67.820107,19.900059

In [44]:
comfort_sec = len(comfort_df) * ts_sec
total_sec = len(df) * ts_sec

In [51]:
comfort_index = comfort_sec / total_sec

In [54]:
print("{:.0%}".format(comfort_index))

12%