# Different long-term thermal comfort indices for continuous monitoring

In [82]:
from temperature_range_percentage import *

In [84]:
temp_range?

Signature: temp_range(l, u, f)
Docstring:
Calculate the percentage of occupied time outside a temeprature range.
The occupied time is supposed to be from 9 am to 5 pm at weekdays.
The data file type should be CSV.
The first column of the CSV file should be time.
The second column of the CSV file should be temperature.

Parameters
----------
l : float
    lower bound of the tempearture range, with same units of the data
u : float
    upper bound of the temperature range, with same units of the data
f : string
    file path of the CSV dataset

Returns
----------
p : float
    percentage of the time
File:      ~/Documents/GitHub/mortardata_comfort_evaluation/temperature_range_percentage.py
Type:      function

## No.1: Percentage of occupied time outside a temeprature range

In [85]:
Two_East = '/Users/ruijisun/Downloads/20210727 Zone Temperature Data/DBC/Field Bus1.BrowerRadiant2East.ZN2-T.csv'
print("{:.0%}".format(temp_range(72, 81, Two_East)))

82%

In [70]:
Three_West= '/Users/ruijisun/Downloads/20210727 Zone Temperature Data/DBC/Field Bus1.BrowerRadiant3West.ZN1-T.csv'
print("{:.0%}".format(temp_range(72, 81, Three_West)))

38%

In [71]:
Four_East = '/Users/ruijisun/Downloads/20210727 Zone Temperature Data/DBC/Field Bus1.BrowerRadiant4East.ZN2-T.csv'
print("{:.0%}".format(temp_range(72, 81, Four_East)))

40%

## No.2: Mean Temperature

In [72]:
from temperature_mean import *

In [73]:
temp_mean(Two_East)

67.82025979822039

In [74]:
temp_mean(Three_West)

72.63266124303229

In [75]:
temp_mean(Four_East)

71.57280375565651

## No.3: Temperature Variance

In [76]:
from temperature_variance import *

In [77]:
temp_var(Two_East)

18.476287426429852

In [78]:
temp_var(Three_West)

25.258746009585497

In [79]:
temp_var(Four_East)

32.218171462457214

## No.4:

In [46]:
import pandas as pd
f = '/Users/ruijisun/Downloads/20210727 Zone Temperature Data/DBC/Field Bus1.BrowerRadiant2East.ZN2-T.csv'
df = pd.read_csv(f)
time = df.columns[0]
temp = df.columns[1]
df['hour'] = pd.to_datetime(df[time]).dt.hour
df['weekdays'] = pd.to_datetime(df[time]).dt.dayofweek
# create a new occupied dataframe from 9 am to 5 pm at weekdays
df_occ = df[(df['hour'] >= 9) & (df['hour'] < 17) &
            (df['weekdays'] >= 0) & (df['weekdays'] <= 4)]

In [47]:
df_occ

,datetime,/FS4/NAE00806603BECA/3001087/NAE00806603BECA/Field Bus1.BrowerRadiant2East.ZN2-T,hour,weekdays
0,2020-12-01 10:05:00,70.299370,10,1
1,2020-12-01 10:10:00,70.299370,10,1
2,2020-12-01 10:15:00,70.299370,10,1
3,2020-12-01 10:20:00,70.299370,10,1
4,2020-12-01 10:25:00,70.502136,10,1
...,...,...,...,...
34556,2021-03-31 10:45:00,67.608704,10,2
34557,2021-03-31 10:50:00,67.608704,10,2
34558,2021-03-31 10:55:00,67.820107,10,2
34559,2021-03-31 11:00:00,67.820107,11,2
34560,2021-03-31 11:05:00,67.820107,11,2

In [49]:
df_occ.groupby(['date', 'hour']).mean()

                 /FS4/NAE00806603BECA/3001087/NAE00806603BECA/Field Bus1.BrowerRadiant2East.ZN2-T  \
date       hour
2020-12-01 10                                            70.501251
           11                                            71.118356
           12                                            71.555191
           13                                            71.745759
           14                                            71.912277
...                                                            ...
2021-03-30 15                                            67.368950
           16                                            67.368950
2021-03-31 9                                             67.113436
           10                                            67.541987
           11                                            67.820107

                 weekdays
date       hour
2020-12-01 10           1
           11           1
           12           1
           13           1
           14           1
...                   ...
2021-03-30 15           1
           16           1
2021-03-31 9            2
           10           2
           11           2

[690 rows x 2 columns]

In [35]:
df_hrs.var()

/FS4/NAE00806603BECA/3001087/NAE00806603BECA/Field Bus1.BrowerRadiant2East.ZN2-T    18.476287
weekdays                                                                             1.983932
dtype: float64

In [22]:
df_occ

,datetime,/FS4/NAE00806603BECA/3001087/NAE00806603BECA/Field Bus1.BrowerRadiant2East.ZN2-T,date,hour,weekdays
0,2020-12-01 10:05:00,70.299370,2020-12-01,10,1
1,2020-12-01 10:10:00,70.299370,2020-12-01,10,1
2,2020-12-01 10:15:00,70.299370,2020-12-01,10,1
3,2020-12-01 10:20:00,70.299370,2020-12-01,10,1
4,2020-12-01 10:25:00,70.502136,2020-12-01,10,1
...,...,...,...,...,...
34556,2021-03-31 10:45:00,67.608704,2021-03-31,10,2
34557,2021-03-31 10:50:00,67.608704,2021-03-31,10,2
34558,2021-03-31 10:55:00,67.820107,2021-03-31,10,2
34559,2021-03-31 11:00:00,67.820107,2021-03-31,11,2
34560,2021-03-31 11:05:00,67.820107,2021-03-31,11,2