# Different long-term thermal comfort indices for continuous monitoring

## No.1: Percentage of occupied time outside a temeprature range

In [1]:
from temperature_range_percentage import temp_range

In [2]:
temp_range?

Signature: temp_range(a, b, l, u, f)
Docstring:
Calculate the percentage of occupied time outside a temeprature range.
The data file type should be CSV.
The first column of the CSV file should be time.
The second column of the CSV file should be temperature.

Parameters
----------
a : int
    The start time (24-hour clock) of normal office hours during weekdays
b : int
    The end time (24-hour clock) of normal office hours during weekdays
l : float
    lower bound of the tempearture range, with same units of the data
u : float
    upper bound of the temperature range, with same units of the data
f : string
    path of the fold that stores all CSV files

Returns
----------
p : float
    percentage of the time
File:      ~/Documents/GitHub/mortardata_comfort_evaluation/temperature_range_percentage.py
Type:      function

In [3]:
DBC = '/Users/ruijisun/Box/Mortar zone and setpoint temperatures/20210727 Zone Temperature Data/DBC'
SMC = '/Users/ruijisun/Box/Mortar zone and setpoint temperatures/20210727 Zone Temperature Data/SMC'
SMUD = '/Users/ruijisun/Box/Mortar zone and setpoint temperatures/20210727 Zone Temperature Data/SMUD'

In [6]:
temp_range(9, 17, 70, 78, DBC)

                                  zone name  outside percentage
0  /Field Bus1.BrowerRadiant2East.ZN2-T.csv            0.596807
2  /Field Bus1.BrowerRadiant4East.ZN2-T.csv            0.412625
1  /Field Bus1.BrowerRadiant3West.ZN1-T.csv            0.407425

In [5]:
temp_range(9, 17, 72, 81, SMC)

                                   zone name  outside percentage
2  /881ae9c7-1415-4f07-ae11-e046ad1ba597.csv            0.537967
1  /5c8d94d7-ca6a-4823-9c96-5c6f1cceba13.csv            0.510291
0  /17e9e1d2-5e18-4a7d-960f-e44ee6f83a53.csv            0.505558

In [6]:
temp_range(9, 17, 72, 81, SMUD)

                        zone name  outside percentage
1  /ec_01_l2es_rczn2_zonetemp.csv            0.772284
0  /ec_01_l1ec_rczn4_zonetemp.csv            0.146483
2  /ec_01_l2wc_rczn2_zonetemp.csv            0.023980

## No.2: Degree-hours

## No.3: Temperature Mean Value

In [1]:
from temperature_mean import temp_mean

In [4]:
temp_mean(9, 17, DBC)

                                  zone name  temperature mean
1  /Field Bus1.BrowerRadiant3West.ZN1-T.csv         72.632661
2  /Field Bus1.BrowerRadiant4East.ZN2-T.csv         71.572804
0  /Field Bus1.BrowerRadiant2East.ZN2-T.csv         67.820260

In [5]:
temp_mean(9, 17, SMC)

                                   zone name  temperature mean
2  /881ae9c7-1415-4f07-ae11-e046ad1ba597.csv         72.291811
0  /17e9e1d2-5e18-4a7d-960f-e44ee6f83a53.csv         72.065779
1  /5c8d94d7-ca6a-4823-9c96-5c6f1cceba13.csv         71.863046

In [6]:
temp_mean(9, 17, SMUD)

                        zone name  temperature mean
2  /ec_01_l2wc_rczn2_zonetemp.csv         74.207917
0  /ec_01_l1ec_rczn4_zonetemp.csv         72.675004
1  /ec_01_l2es_rczn2_zonetemp.csv         71.210184

## No.4: Temperature Variance

In [10]:
from temperature_variance import temp_var

In [11]:
temp_var(9, 17, DBC)

                                  zone name  temperature vairance
2  /Field Bus1.BrowerRadiant4East.ZN2-T.csv             32.218171
1  /Field Bus1.BrowerRadiant3West.ZN1-T.csv             25.258746
0  /Field Bus1.BrowerRadiant2East.ZN2-T.csv             18.476287

In [11]:
# ï¼Ÿcheck
temp_var(9, 17, SMC)

                                   zone name  temperature vairance
2  /881ae9c7-1415-4f07-ae11-e046ad1ba597.csv             82.984909
1  /5c8d94d7-ca6a-4823-9c96-5c6f1cceba13.csv             20.004948
0  /17e9e1d2-5e18-4a7d-960f-e44ee6f83a53.csv              1.448755

In [13]:
temp_var(9, 17, SMUD)

                        zone name  temperature vairance
1  /ec_01_l2es_rczn2_zonetemp.csv              1.092029
0  /ec_01_l1ec_rczn4_zonetemp.csv              0.564315
2  /ec_01_l2wc_rczn2_zonetemp.csv              0.559750

## No.5: Percentage of occupied days that daily temperature range are out of the threshold

In [3]:
from temperature_daily_outlier import temp_daily

In [4]:
e = '/Users/ruijisun/Desktop'
temp_daily(9, 17, 0.8, DBC, e)

,zone name,outside percentage,0.20689655172413793percentile threshold
1,/Field Bus1.BrowerRadiant3West.ZN1-T.csv,0.793103,0.811858
0,/Field Bus1.BrowerRadiant2East.ZN2-T.csv,0.206897,2.823125
2,/Field Bus1.BrowerRadiant4East.ZN2-T.csv,0.206897,3.247698

In [1]:
import pandas as pd
import glob
a = 9
b = 17
l = 72 
u = 81
p = 0.8
f = '/Users/ruijisun/Box/Mortar zone and setpoint temperatures/20210727 Zone Temperature Data/DBC/Field Bus1.BrowerRadiant2East.ZN2-T.csv'
e = '/Users/ruijisun/Desktop/'

In [2]:
df = pd.read_csv(f)
time = df.columns[0]
temp = df.columns[1]
# get the date from the time for groupby function later on
df['date'] = pd.to_datetime(df[time]).dt.date
df['hour'] = pd.to_datetime(df[time]).dt.hour
df['weekdays'] = pd.to_datetime(df[time]).dt.dayofweek
# create a new dataframe for the specified office hours and weekdays
df_occ = df[(df['hour'] >= a) & (df['hour'] < b) &
            (df['weekdays'] >= 0) & (df['weekdays'] <= 4)]

In [12]:
# get temperature data that are higher than the upper bound
df_hot = df[(df[temp] > u)]
# get temperature data that are lower than the lower bound
df_cold = df[(df[temp] < l)]

In [23]:
l-df_cold[temp]

0        1.700630
1        1.700630
2        1.700630
3        1.700630
4        1.497864
           ...
34556    4.391296
34557    4.391296
34558    4.179893
34559    4.179893
34560    4.179893
Name: /FS4/NAE00806603BECA/3001087/NAE00806603BECA/Field Bus1.BrowerRadiant2East.ZN2-T, Length: 31584, dtype: float64

In [20]:
# calculate daily temperature range by max minus min
df_max = df_occ.groupby(['date']).max()
df_min = df_occ.groupby(['date']).min()
df_range = df_max[temp] - df_min[temp]
df_range.rename("daily temperature range").to_csv('./f.csv')

In [22]:
len(df_range)

87

In [25]:
df_range

In [ ]:
# get rows from the new dataframe that are out of the threshold
t = df_range.quantile(p)
df_out = df_range[(df_range > t)]
# Calculate the percentage of occupied time outside the threshold
p = len(df_out) / len(df_max)